
.home__title--info{
    position: absolute;
    top: 300px;
    left: 40vw;
    color: white;
}
.home__title--info h1{
    position: relative;
    display: inline-block;
}
.home__title--info h1::after{
    content: "";
    display: block;
    position: absolute;
    bottom: -2px;
    left: 38%;
    width: 80px;
    border-bottom: 2px solid rgb(193, 202, 57);
}
.home__title--footer{
    display: flex;
    text-align: center;
    justify-content: center;
    
}
.home__footer--item{
    padding-top: 100px;
    background-color: rgba(182, 176, 176, 0.178);
    width: 300px;
    height: 200px;
    margin: 30px;
    font-size: 20px;
}